<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.lghjft.dal.mysql.hjgl.jcxx.GhHjJcxxMapper">

    <!-- ===================== 原有户籍调拨接口 ===================== -->
    <update id="updateAllocationJcxx">
        update gh_hj set
        DEPT_ID=#{deptId},
        HYGHBZ=#{hyghbz},
        JCGHHM=null,
        JCGHZH=null,
        JCGHHH=null,
        JCGHYH=null
        where DJXH in
        <foreach item="djxh" collection="djxhs" open="(" separator="," close=")">
            #{djxh}
        </foreach>
        <!-- 防止全表更新 -->
        <if test="djxhs == null or djxhs.size() == 0">
            and 1 = 0
        </if>
    </update>

    <!-- ===================== 【新增】旧版一模一样的联合查询：gh_hj + jhdwyds ===================== -->
    <select id="getListByDjNsrxxDto"
            parameterType="cn.iocoder.yudao.module.lghjft.controller.admin.hjgl.jcxx.vo.JcxxBaseVO"
            resultType="java.util.Map">
        select hj.dept_id, DJXH, SHXYDM, NSRMC,
        d.dept_name as deptName
        from gh_hj hj
        left join sys_dept d on hj.dept_id = d.dept_id
        where 1=1
        <if test="djxh != null and djxh != ''">
            AND hj.djxh = #{djxh}
        </if>
        <if test="shxydm != null and shxydm != ''">
            AND hj.shxydm = #{shxydm}
        </if>
        UNION ALL
        select ds.dept_id, DJXH, SHXYDM, NSRMC,
        d.dept_name as deptName
        from jhdwyds ds
        left join sys_dept d on ds.dept_id = d.dept_id
        where 1=1
        <if test="djxh != null and djxh != ''">
            AND ds.djxh = #{djxh}
        </if>
        <if test="shxydm != null and shxydm != ''">
            AND ds.shxydm = #{shxydm}
        </if>
    </select>

</mapper>