<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.lghjft.dal.mysql.xwqy.xwqyjftj.XwqyjftjMapper">

    <!-- 统计汇总: 按 dwdm, dept_id, jsbj, cbjthbj 分组 (v1: selectXwqyjftjList) -->
    <select id="selectXwqyjftjList"
            resultType="cn.iocoder.yudao.module.lghjft.controller.admin.xwqy.xwqyjftj.vo.XwqyjftjAggVO">
        select
        jf.DWDM as dwdm,
        jf.dept_id as deptId,
        jf.jsbj as jsbj,
        jf.cbjthbj as cbjthbj,
        count(jf.djxh) as jfbs,
        count(distinct jf.djxh) as jfhs,
        sum(jf.YBTSE) as ybtse,
        sum(jf.YFJE) as yfje,
        sum(jf.GKZFJE) as gkzfje,
        sum(jf.GJTHJE) as gjthje,
        sum(jf.jcghje) as jcghje,
        sum(jf.cbjje) as cbjje,
        sum(jf.HYGHJE) as hyghje,
        sum(jf.xjghje) as xjghje,
        sum(jf.SJGHJE) as sjghje,
        sum(jf.SZGHJE) as szghje,
        sum(jf.QGGHJE) as qgghje,
        sum(jf.sdsje) as sdsje,
        sum(jf.swjgje) as swjgje
        from xwqyjf jf
        <where>
            1=1
            <if test="req.dwdm != null and req.dwdm != ''">and jf.DWDM = #{req.dwdm}</if>
            <if test="req.nd != null and req.nd != ''">and jf.ND = #{req.nd}</if>
            <if test="req.shxydm != null and req.shxydm != ''">and jf.SHXYDM = #{req.shxydm}</if>
            <if test="req.nsrmc != null and req.nsrmc != ''">and jf.NSRMC like concat('%', #{req.nsrmc}, '%')</if>
            <if test="req.xwsbdwdm != null and req.xwsbdwdm != ''">and jf.xwsbdwdm = #{req.xwsbdwdm}</if>
            <if test="req.beginXwsbrq != null and req.beginXwsbrq != '' and req.endXwsbrq != null and req.endXwsbrq != ''">and jf.xwsbrq between #{req.beginXwsbrq} and
                #{req.endXwsbrq}
            </if>
            <if test="req.xwlx != null and req.xwlx != ''">and jf.xwlx = #{req.xwlx}</if>
            <if test="req.deptId != null and req.deptId != ''">and (jf.dept_id = #{req.deptId} or jf.dept_id in (select t.dept_id from sys_dept t where find_in_set(#{req.deptId},
                ancestors)))
            </if>
            <if test="req.hyghbz != null and req.hyghbz != ''">and jf.HYGHBZ = #{req.hyghbz}</if>
            <if test="req.ghlbDm != null and req.ghlbDm != ''">and jf.GHLB_DM = #{req.ghlbDm}</if>
            <if test="req.xtlbDm != null and req.xtlbDm != ''">and jf.XTLB_DM = #{req.xtlbDm}</if>
            <if test="req.zspmDm != null and req.zspmDm != ''">and jf.ZSPM_DM = #{req.zspmDm}</if>
            <if test="req.skssqq != null and req.skssqq != ''">and jf.SKSSQQ = #{req.skssqq}</if>
            <if test="req.skssqz != null and req.skssqz != ''">and jf.SKSSQZ = #{req.skssqz}</if>
            <if test="req.beginRkrq != null and req.beginRkrq != '' and req.endRkrq != null and req.endRkrq != ''">and jf.RKRQ between #{req.beginRkrq} and #{req.endRkrq}</if>
            <if test="req.jsbj != null and req.jsbj != ''">and jf.JSBJ = #{req.jsbj}</if>
            <if test="req.beginJsrq != null and req.beginJsrq != '' and req.endJsrq != null and req.endJsrq != ''">and jf.JSRQ between #{req.beginJsrq} and #{req.endJsrq}</if>
            <if test="req.cbjthbj != null and req.cbjthbj != ''">and jf.CBJTHBJ = #{req.cbjthbj}</if>
            <if test="req.beginCbjthrq != null and req.beginCbjthrq != '' and req.endCbjthrq != null and req.endCbjthrq != ''">and jf.CBJTHRQ between #{req.beginCbjthrq} and
                #{req.endCbjthrq}
            </if>
            <if test="req.hkpch != null and req.hkpch != ''">and jf.HKPCH = #{req.hkpch}</if>
        </where>
        group by jf.DWDM, jf.dept_id, jf.jsbj, jf.cbjthbj
        order by jf.DWDM
    </select>

    <!-- 统计反馈: 按 dwdm, dept_id, shxydm, nsrmc, jsbj, cbjthbj 分组 (v1: selectXwqyjftjfhList) -->
    <select id="selectXwqyjftjfhList"
            resultType="cn.iocoder.yudao.module.lghjft.controller.admin.xwqy.xwqyjftj.vo.XwqyjftjfhAggVO">
        select
        jf.DWDM as dwdm,
        jf.dept_id as deptId,
        jf.shxydm as shxydm,
        jf.nsrmc as nsrmc,
        jf.jsbj as jsbj,
        jf.cbjthbj as cbjthbj,
        count(jf.djxh) as jfbs,
        sum(jf.YBTSE) as ybtse,
        sum(jf.YFJE) as yfje,
        sum(jf.GKZFJE) as gkzfje,
        sum(jf.GJTHJE) as gjthje,
        sum(jf.jcghje) as jcghje,
        sum(jf.cbjje) as cbjje,
        sum(jf.HYGHJE) as hyghje,
        sum(jf.xjghje) as xjghje,
        sum(jf.SJGHJE) as sjghje,
        sum(jf.SZGHJE) as szghje,
        sum(jf.QGGHJE) as qgghje,
        sum(jf.sdsje) as sdsje,
        sum(jf.swjgje) as swjgje
        from xwqyjf jf
        <where>
            1=1
            <if test="req.dwdm != null and req.dwdm != ''">and jf.DWDM = #{req.dwdm}</if>
            <if test="req.nd != null and req.nd != ''">and jf.ND = #{req.nd}</if>
            <if test="req.shxydm != null and req.shxydm != ''">and jf.SHXYDM = #{req.shxydm}</if>
            <if test="req.nsrmc != null and req.nsrmc != ''">and jf.NSRMC like concat('%', #{req.nsrmc}, '%')</if>
            <if test="req.xwsbdwdm != null and req.xwsbdwdm != ''">and jf.xwsbdwdm = #{req.xwsbdwdm}</if>
            <if test="req.beginXwsbrq != null and req.beginXwsbrq != '' and req.endXwsbrq != null and req.endXwsbrq != ''">and jf.xwsbrq between #{req.beginXwsbrq} and
                #{req.endXwsbrq}
            </if>
            <if test="req.xwlx != null and req.xwlx != ''">and jf.xwlx = #{req.xwlx}</if>
            <if test="req.deptId != null and req.deptId != ''">and jf.dept_id = #{req.deptId}</if>
            <if test="req.hyghbz != null and req.hyghbz != ''">and jf.HYGHBZ = #{req.hyghbz}</if>
            <if test="req.ghlbDm != null and req.ghlbDm != ''">and jf.GHLB_DM = #{req.ghlbDm}</if>
            <if test="req.xtlbDm != null and req.xtlbDm != ''">and jf.XTLB_DM = #{req.xtlbDm}</if>
            <if test="req.zspmDm != null and req.zspmDm != ''">and jf.ZSPM_DM = #{req.zspmDm}</if>
            <if test="req.skssqq != null and req.skssqq != ''">and jf.SKSSQQ = #{req.skssqq}</if>
            <if test="req.skssqz != null and req.skssqz != ''">and jf.SKSSQZ = #{req.skssqz}</if>
            <if test="req.beginRkrq != null and req.beginRkrq != '' and req.endRkrq != null and req.endRkrq != ''">and jf.RKRQ between #{req.beginRkrq} and #{req.endRkrq}</if>
            <if test="req.jsbj != null and req.jsbj != ''">and jf.JSBJ = #{req.jsbj}</if>
            <if test="req.beginJsrq != null and req.beginJsrq != '' and req.endJsrq != null and req.endJsrq != ''">and jf.JSRQ between #{req.beginJsrq} and #{req.endJsrq}</if>
            <if test="req.cbjthbj != null and req.cbjthbj != ''">and jf.CBJTHBJ = #{req.cbjthbj}</if>
            <if test="req.beginCbjthrq != null and req.beginCbjthrq != '' and req.endCbjthrq != null and req.endCbjthrq != ''">and jf.CBJTHRQ between #{req.beginCbjthrq} and
                #{req.endCbjthrq}
            </if>
            <if test="req.hkpch != null and req.hkpch != ''">and jf.HKPCH = #{req.hkpch}</if>
        </where>
        group by jf.DWDM, jf.dept_id, jf.shxydm, jf.nsrmc, jf.jsbj, jf.cbjthbj
        order by jf.DWDM
        <if test="req.offset != null">
            limit #{req.offset}, #{req.pageSize}
        </if>
    </select>

    <!-- 统计反馈 count -->
    <select id="selectXwqyjftjfhCount" resultType="java.lang.Long">
        select count(*) from (
        select jf.DWDM
        from xwqyjf jf
        <where>
            1=1
            <if test="req.dwdm != null and req.dwdm != ''">and jf.DWDM = #{req.dwdm}</if>
            <if test="req.nd != null and req.nd != ''">and jf.ND = #{req.nd}</if>
            <if test="req.shxydm != null and req.shxydm != ''">and jf.SHXYDM = #{req.shxydm}</if>
            <if test="req.nsrmc != null and req.nsrmc != ''">and jf.NSRMC like concat('%', #{req.nsrmc}, '%')</if>
            <if test="req.xwsbdwdm != null and req.xwsbdwdm != ''">and jf.xwsbdwdm = #{req.xwsbdwdm}</if>
            <if test="req.beginXwsbrq != null and req.beginXwsbrq != '' and req.endXwsbrq != null and req.endXwsbrq != ''">and jf.xwsbrq between #{req.beginXwsbrq} and #{req.endXwsbrq}</if>
            <if test="req.xwlx != null and req.xwlx != ''">and jf.xwlx = #{req.xwlx}</if>
            <if test="req.deptId != null and req.deptId != ''">and jf.dept_id = #{req.deptId}</if>
            <if test="req.hyghbz != null and req.hyghbz != ''">and jf.HYGHBZ = #{req.hyghbz}</if>
            <if test="req.ghlbDm != null and req.ghlbDm != ''">and jf.GHLB_DM = #{req.ghlbDm}</if>
            <if test="req.xtlbDm != null and req.xtlbDm != ''">and jf.XTLB_DM = #{req.xtlbDm}</if>
            <if test="req.zspmDm != null and req.zspmDm != ''">and jf.ZSPM_DM = #{req.zspmDm}</if>
            <if test="req.jsbj != null and req.jsbj != ''">and jf.JSBJ = #{req.jsbj}</if>
            <if test="req.cbjthbj != null and req.cbjthbj != ''">and jf.CBJTHBJ = #{req.cbjthbj}</if>
            <if test="req.hkpch != null and req.hkpch != ''">and jf.HKPCH = #{req.hkpch}</if>
        </where>
        group by jf.DWDM, jf.dept_id, jf.shxydm, jf.nsrmc, jf.jsbj, jf.cbjthbj
        ) t
    </select>

    <!-- 明细列表: 不分组, 直接查 xwqyjf (v1: selectXwqyjftjmxList) -->
    <select id="selectXwqyjftjmxList"
            resultType="cn.iocoder.yudao.module.lghjft.controller.admin.xwqy.xwqyjftj.vo.XwqyjftjmxResVO">
        select
        DWDM as dwdm, ND as nd, ghjf_id as ghjfId, SPUUID as spuuid,
        DJXH as djxh, SHXYDM as shxydm, NSRMC as nsrmc,
        xwsbdwdm, xwsbrq, xwlx, NSRJC as nsrjc,
        dept_id as deptId, GHJGXZJB as ghjgxzjb, CLGHBJ as clghbj,
        HYGHBZ as hyghbz, SDGHJG_DM as sdghjgDm, SDGHJGXZJB as sdghjgxzjb,
        ZGSWJ_DM as zgswjDm, ZGSWSKFJ_DM as zgswskfjDm, SSGLY_DM as ssglyDm,
        GHLB_DM as ghlbDm, XTLB_DM as xtlbDm, ZZJGLX_DM as zzjglxDm,
        HY_DM as hyDm, DJZCLX_DM as djzclxDm, DWLSGX_DM as dwlsgxDm,
        SBLB_DM as sblbDm, NSSBRQ as nssbrq, PZXH as pzxh, PZMXXH as pzmxxh,
        SKSSQQ as skssqq, SKSSQZ as skssqz, ZSSWJG_DM as zsswjgDm,
        SKSSSWJG_DM as skssswjgDm,
        ZSPM_DM as zspmDm, GZZE as gzze, SL as sl, YNSE as ynse,
        JMSE as jmse, YJSE as yjse, YBTSE as ybtse,
        YFJE as yfje, GKZFJE as gkzfje, GJTHJE as gjthje,
        JSBJ as jsbj, JSRQ as jsrq,
        JCGHJE as jcghje, CBJJE as cbjje, HYGHJE as hyghje,
        XJGHJE as xjghje, SJGHJE as sjghje, SZGHJE as szghje,
        QGGHJE as qgghje, SDSJE as sdsje, SWJGJE as swjgje,
        CBJTHBJ as cbjthbj, HKPCH as hkpch, RKRQ as rkrq
        from xwqyjf
        <where>
            <if test="req.dwdm != null and req.dwdm != ''">and DWDM = #{req.dwdm}</if>
            <if test="req.nd != null and req.nd != ''">and ND = #{req.nd}</if>
            <if test="req.shxydm != null and req.shxydm != ''">and SHXYDM = #{req.shxydm}</if>
            <if test="req.nsrmc != null and req.nsrmc != ''">and NSRMC like concat('%', #{req.nsrmc}, '%')</if>
            <if test="req.xwsbdwdm != null and req.xwsbdwdm != ''">and xwsbdwdm = #{req.xwsbdwdm}</if>
            <if test="req.beginXwsbrq != null and req.beginXwsbrq != '' and req.endXwsbrq != null and req.endXwsbrq != ''">and xwsbrq between #{req.beginXwsbrq} and
                #{req.endXwsbrq}
            </if>
            <if test="req.xwlx != null and req.xwlx != ''">and xwlx = #{req.xwlx}</if>
            <if test="req.deptId != null and req.deptId != ''">and dept_id = #{req.deptId}</if>
            <if test="req.hyghbz != null and req.hyghbz != ''">and HYGHBZ = #{req.hyghbz}</if>
            <if test="req.ghlbDm != null and req.ghlbDm != ''">and GHLB_DM = #{req.ghlbDm}</if>
            <if test="req.xtlbDm != null and req.xtlbDm != ''">and XTLB_DM = #{req.xtlbDm}</if>
            <if test="req.zspmDm != null and req.zspmDm != ''">and ZSPM_DM = #{req.zspmDm}</if>
            <if test="req.skssqq != null and req.skssqq != ''">and SKSSQQ = #{req.skssqq}</if>
            <if test="req.skssqz != null and req.skssqz != ''">and SKSSQZ = #{req.skssqz}</if>
            <if test="req.beginRkrq != null and req.beginRkrq != '' and req.endRkrq != null and req.endRkrq != ''">and RKRQ between #{req.beginRkrq} and #{req.endRkrq}</if>
            <if test="req.jsbj != null and req.jsbj != ''">and JSBJ = #{req.jsbj}</if>
            <if test="req.beginJsrq != null and req.beginJsrq != '' and req.endJsrq != null and req.endJsrq != ''">and JSRQ between #{req.beginJsrq} and #{req.endJsrq}</if>
            <if test="req.cbjthbj != null and req.cbjthbj != ''">and CBJTHBJ = #{req.cbjthbj}</if>
            <if test="req.beginCbjthrq != null and req.beginCbjthrq != '' and req.endCbjthrq != null and req.endCbjthrq != ''">and CBJTHRQ between #{req.beginCbjthrq} and
                #{req.endCbjthrq}
            </if>
            <if test="req.hkpch != null and req.hkpch != ''">and HKPCH = #{req.hkpch}</if>
        </where>
        <if test="req.offset != null">
            limit #{req.offset}, #{req.pageSize}
        </if>
    </select>

    <!-- 明细 count -->
    <select id="selectXwqyjftjmxCount" resultType="java.lang.Long">
        select count(*)
        from xwqyjf
        <where>
            <if test="req.dwdm != null and req.dwdm != ''">and DWDM = #{req.dwdm}</if>
            <if test="req.nd != null and req.nd != ''">and ND = #{req.nd}</if>
            <if test="req.shxydm != null and req.shxydm != ''">and SHXYDM = #{req.shxydm}</if>
            <if test="req.nsrmc != null and req.nsrmc != ''">and NSRMC like concat('%', #{req.nsrmc}, '%')</if>
            <if test="req.xwsbdwdm != null and req.xwsbdwdm != ''">and xwsbdwdm = #{req.xwsbdwdm}</if>
            <if test="req.beginXwsbrq != null and req.beginXwsbrq != '' and req.endXwsbrq != null and req.endXwsbrq != ''">and xwsbrq between #{req.beginXwsbrq} and #{req.endXwsbrq}</if>
            <if test="req.xwlx != null and req.xwlx != ''">and xwlx = #{req.xwlx}</if>
            <if test="req.deptId != null and req.deptId != ''">and dept_id = #{req.deptId}</if>
            <if test="req.hyghbz != null and req.hyghbz != ''">and HYGHBZ = #{req.hyghbz}</if>
            <if test="req.ghlbDm != null and req.ghlbDm != ''">and GHLB_DM = #{req.ghlbDm}</if>
            <if test="req.xtlbDm != null and req.xtlbDm != ''">and XTLB_DM = #{req.xtlbDm}</if>
            <if test="req.zspmDm != null and req.zspmDm != ''">and ZSPM_DM = #{req.zspmDm}</if>
            <if test="req.jsbj != null and req.jsbj != ''">and JSBJ = #{req.jsbj}</if>
            <if test="req.cbjthbj != null and req.cbjthbj != ''">and CBJTHBJ = #{req.cbjthbj}</if>
            <if test="req.hkpch != null and req.hkpch != ''">and HKPCH = #{req.hkpch}</if>
        </where>
    </select>

</mapper>
