<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.lghjft.dal.mysql.cxtj.cbjmx.CbjmxMapper">

    <resultMap type="cn.iocoder.yudao.module.lghjft.dal.dataobject.cxtj.cbjmx.CbjmxtjDO" id="CbjmxtjResult">
        <result property="dwdm" column="dwdm" />
        <result property="deptId" column="dept_id" />
        <result property="shxydm" column="shxydm" />
        <result property="nsrmc" column="nsrmc" />
        <result property="jsbj" column="jsbj" />
        <result property="cbjthbj" column="cbjthbj" />
        <result property="fbbj" column="fbbj" />
        <result property="bs" column="bs" />
        <result property="hs" column="hs" />
        <result property="qtje" column="qtje" />
        <result property="jfje" column="jfje" />
        <result property="cbjje" column="cbjje" />
        <result property="sfbje" column="sfbje" />
    </resultMap>

    <resultMap type="cn.iocoder.yudao.module.lghjft.dal.dataobject.cxtj.cbjmx.CbjmxhzDO" id="CbjmxhzResult">
        <result property="dwdm" column="dwdm" />
        <result property="deptId" column="dept_id" />
        <result property="jsbj" column="jsbj" />
        <result property="cbjthbj" column="cbjthbj" />
        <result property="fbbj" column="fbbj" />
        <result property="bs" column="bs" />
        <result property="hs" column="hs" />
        <result property="qtje" column="qtje" />
        <result property="jfje" column="jfje" />
        <result property="cbjje" column="cbjje" />
        <result property="sfbje" column="sfbje" />
    </resultMap>

    <!-- v1 selectCbjmxtjList: GROUP BY dwdm, dept_id, shxydm, nsrmc, jsbj, cbjthbj, fbbj ORDER BY dwdm -->
    <select id="selectCbjmxtjList" resultMap="CbjmxtjResult">
        select
            dwdm,
            dept_id,
            shxydm, nsrmc,
            jsbj,
            cbjthbj,
            fbbj,
            count(djxh) bs,
            count(distinct djxh) hs,
            sum(qtje) qtje,
            sum(jfje) jfje,
            sum(cbjje) cbjje,
            sum(sfbje) sfbje
        from cbjmx
        <where>
            <if test="req.zspmDm != null and req.zspmDm != ''">and zspm_dm = #{req.zspmDm}</if>
            <if test="req.nd != null and req.nd != ''">and nd = #{req.nd}</if>
            <if test="req.deptId != null and req.deptId != ''">and dept_id = #{req.deptId}</if>
            <if test="req.shxydm != null and req.shxydm != ''">and shxydm = #{req.shxydm}</if>
            <if test="req.djxh != null and req.djxh != ''">and djxh = #{req.djxh}</if>
            <if test="req.nsrmc != null and req.nsrmc != ''">and nsrmc = #{req.nsrmc}</if>
            <if test="req.beginRkrq != null and req.beginRkrq != '' and req.endRkrq != null and req.endRkrq != ''">and rkrq between #{req.beginRkrq} and #{req.endRkrq}</if>
            <if test="req.beginJsrq != null and req.beginJsrq != '' and req.endJsrq != null and req.endJsrq != ''">and jsrq between #{req.beginJsrq} and #{req.endJsrq}</if>
            <if test="req.skssqq != null and req.skssqq != ''">and skssqq = #{req.skssqq}</if>
            <if test="req.skssqz != null and req.skssqz != ''">and skssqz = #{req.skssqz}</if>
            <if test="req.jsbj != null and req.jsbj != ''">and jsbj = #{req.jsbj}</if>
            <if test="req.cbjthbj != null and req.cbjthbj != ''">and cbjthbj = #{req.cbjthbj}</if>
            <if test="req.jfje != null and req.jfje != ''">and jfje = #{req.jfje}</if>
            <if test="req.cbjje != null and req.cbjje != ''">and cbjje = #{req.cbjje}</if>
            <if test="req.fbbj != null and req.fbbj != ''">and fbbj = #{req.fbbj}</if>
            <if test="req.beginFbrq != null and req.beginFbrq != '' and req.endFbrq != null and req.endFbrq != ''">and fbrq between #{req.beginFbrq} and #{req.endFbrq}</if>
            <if test="req.sfbje != null and req.sfbje != ''">and sfbje = #{req.sfbje}</if>
        </where>
        group by
            dwdm,
            dept_id, shxydm, nsrmc,
            jsbj,
            cbjthbj,
            fbbj
        order by
            dwdm
    </select>

    <!-- v1 selectCbjmxhzList: GROUP BY dwdm, dept_id, jsbj, cbjthbj, fbbj ORDER BY dwdm
         v1 deptId filter uses find_in_set for ancestor lookup -->
    <!-- v1 selectCbjmxhzList 1:1 翻译，全部 WHERE 条件 -->
    <select id="selectCbjmxhzList" resultMap="CbjmxhzResult">
        select
            dwdm, dept_id, jsbj, cbjthbj, fbbj,
            count(djxh) bs, count(distinct djxh) hs,
            sum(qtje) qtje, sum(jfje) jfje, sum(cbjje) cbjje, sum(sfbje) sfbje
        from cbjmx
        <where>
            <if test="req.zspmDm != null and req.zspmDm != ''">and zspm_dm = #{req.zspmDm}</if>
            <if test="req.nd != null and req.nd != ''">and nd = #{req.nd}</if>
            <if test="req.deptId != null and req.deptId != ''">and (dept_id = #{req.deptId} or dept_id in (select t.dept_id from sys_dept t where find_in_set(#{req.deptId}, ancestors)))</if>
            <if test="req.shxydm != null and req.shxydm != ''">and shxydm = #{req.shxydm}</if>
            <if test="req.djxh != null and req.djxh != ''">and djxh = #{req.djxh}</if>
            <if test="req.nsrmc != null and req.nsrmc != ''">and nsrmc = #{req.nsrmc}</if>
            <if test="req.beginRkrq != null and req.beginRkrq != '' and req.endRkrq != null and req.endRkrq != ''">and rkrq between #{req.beginRkrq} and #{req.endRkrq}</if>
            <if test="req.beginJsrq != null and req.beginJsrq != '' and req.endJsrq != null and req.endJsrq != ''">and jsrq between #{req.beginJsrq} and #{req.endJsrq}</if>
            <if test="req.skssqq != null and req.skssqq != ''">and skssqq = #{req.skssqq}</if>
            <if test="req.skssqz != null and req.skssqz != ''">and skssqz = #{req.skssqz}</if>
            <if test="req.jsbj != null and req.jsbj != ''">and jsbj = #{req.jsbj}</if>
            <if test="req.cbjthbj != null and req.cbjthbj != ''">and cbjthbj = #{req.cbjthbj}</if>
            <if test="req.jfje != null and req.jfje != ''">and jfje = #{req.jfje}</if>
            <if test="req.cbjje != null and req.cbjje != ''">and cbjje = #{req.cbjje}</if>
            <if test="req.fbbj != null and req.fbbj != ''">and fbbj = #{req.fbbj}</if>
            <if test="req.beginFbrq != null and req.beginFbrq != '' and req.endFbrq != null and req.endFbrq != ''">and fbrq between #{req.beginFbrq} and #{req.endFbrq}</if>
            <if test="req.sfbje != null and req.sfbje != ''">and sfbje = #{req.sfbje}</if>
        </where>
        group by dwdm, dept_id, jsbj, cbjthbj, fbbj
        order by dwdm
    </select>

</mapper>
