<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.lghjft.dal.mysql.sjwh.wjgl.WjglMapper">

    <sql id="selectFileVo">
        select fileid,
               dept_id,
               filename,
               filestatus,
               fileurl,
               bz,
               create_by,
               create_time,
               update_by,
               update_time
        from file
    </sql>

    <resultMap type="cn.iocoder.yudao.module.lghjft.controller.admin.sjwh.wjgl.vo.WjglResVO" id="FileResult">
        <result property="fileid" column="fileid"/>
        <result property="deptId" column="dept_id"/>
        <result property="filename" column="filename"/>
        <result property="filestatus" column="filestatus"/>
        <result property="fileurl" column="fileurl"/>
        <result property="bz" column="bz"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectFilePage" resultMap="FileResult">
        <include refid="selectFileVo"/>
        <where>
            <if test="query.deptId != null and query.deptId != ''">and dept_id = #{query.deptId}</if>
            <if test="query.filename != null and query.filename != ''">and filename like concat('%', #{query.filename}, '%')</if>
            <if test="query.filestatus != null and query.filestatus != ''">and filestatus = #{query.filestatus}</if>
            <if test="query.fileurl != null and query.fileurl != ''">and fileurl = #{query.fileurl}</if>
            <if test="query.bz != null and query.bz != ''">and bz = #{query.bz}</if>
            <if test="query.createBy != null and query.createBy != ''">and create_by = #{query.createBy}</if>
            <if test="query.beginCreateTime != null and query.beginCreateTime != '' and query.endCreateTime != null and query.endCreateTime != ''">
                and create_time between #{query.beginCreateTime} and #{query.endCreateTime}
            </if>
            <if test="query.updateBy != null and query.updateBy != ''">and update_by = #{query.updateBy}</if>
            <if test="query.beginUpdateTime != null and query.beginUpdateTime != '' and query.endUpdateTime != null and query.endUpdateTime != ''">
                and update_time between #{query.beginUpdateTime} and #{query.endUpdateTime}
            </if>
        </where>
    </select>

    <select id="selectFileByFileid" resultMap="FileResult">
        <include refid="selectFileVo"/>
        where fileid = #{fileid}
    </select>

    <select id="selectFileList" resultMap="FileResult">
        <include refid="selectFileVo"/>
        <where>
            <if test="query.deptId != null and query.deptId != ''">and dept_id = #{query.deptId}</if>
            <if test="query.filename != null and query.filename != ''">and filename like concat('%', #{query.filename}, '%')</if>
            <if test="query.filestatus != null and query.filestatus != ''">and filestatus = #{query.filestatus}</if>
            <if test="query.fileurl != null and query.fileurl != ''">and fileurl = #{query.fileurl}</if>
            <if test="query.bz != null and query.bz != ''">and bz = #{query.bz}</if>
            <if test="query.createBy != null and query.createBy != ''">and create_by = #{query.createBy}</if>
            <if test="query.beginCreateTime != null and query.beginCreateTime != '' and query.endCreateTime != null and query.endCreateTime != ''">
                and create_time between #{query.beginCreateTime} and #{query.endCreateTime}
            </if>
            <if test="query.updateBy != null and query.updateBy != ''">and update_by = #{query.updateBy}</if>
            <if test="query.beginUpdateTime != null and query.beginUpdateTime != '' and query.endUpdateTime != null and query.endUpdateTime != ''">
                and update_time between #{query.beginUpdateTime} and #{query.endUpdateTime}
            </if>
        </where>
    </select>

</mapper>
