<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.lghjft.dal.mysql.sjwh.szqzjzdc.SzqzjzdcMapper">

    <resultMap id="SzqzjzdcLegacyResultMap" type="cn.iocoder.yudao.module.lghjft.dal.dataobject.sjwh.szqzjzdc.SzqzjzdcDO">
        <result property="pzbh" column="PZBH"/>
        <result property="flbh" column="FLBH"/>
        <result property="hkpch" column="HKPCH"/>
        <result property="zh" column="ZH"/>
        <result property="deptId" column="DEPT_ID"/>
        <result property="kjn" column="KJN"/>
        <result property="kjqj" column="KJQJ"/>
        <result property="pzlx" column="PZLX"/>
        <result property="pzrq" column="PZRQ"/>
        <result property="kjtx" column="KJTX"/>
        <result property="zy" column="ZY"/>
        <result property="kjkmm" column="KJKMM"/>
        <result property="jfje" column="JFJE"/>
        <result property="dfje" column="DFJE"/>
        <result property="fjzs" column="FJZS"/>
        <result property="ysdh" column="YSDH"/>
        <result property="zt" column="ZT"/>
        <result property="zdr" column="ZDR"/>
        <result property="shr" column="SHR"/>
        <result property="jzr" column="JZR"/>
        <result property="zfcbwz" column="ZFCBWZ"/>
        <result property="zbtx" column="ZBTX"/>
        <result property="ysly" column="YSLY"/>
        <result property="wldw" column="WLDW"/>
        <result property="bm" column="BM"/>
        <result property="ry" column="RY"/>
        <result property="bmysjjfl" column="BMYSJJFL"/>
        <result property="zfgnfl" column="ZFGNFL"/>
        <result property="zclx" column="ZCLX"/>
        <result property="jfly" column="JFLY"/>
        <result property="zjxz" column="ZJXZ"/>
        <result property="zfysjjfl" column="ZFYSJJFL"/>
        <result property="mxkm" column="MXKM"/>
        <result property="zffs" column="ZFFS"/>
        <result property="xm" column="XM"/>
        <result property="jsfs" column="JSFS"/>
        <result property="xjgh" column="XJGH"/>
        <result property="xmhd" column="XMHD"/>
        <result property="ggjcss" column="GGJCSS"/>
        <result property="jfsl" column="JFSL"/>
        <result property="dfsl" column="DFSL"/>
        <result property="dj" column="DJ"/>
    </resultMap>

    <sql id="selectLegacySdjzSummarySql">
        SELECT '1'     AS PZBH,
               '1'     AS FLBH,
               T.HKPCH AS HKPCH,
               NULL    AS ZH,
               T.DWDM  AS DEPT_ID, LEFT (T.HKPCH, 4) AS KJN, CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) AS KJQJ, 'JZ->记账' AS PZLX, CONCAT(
            SUBSTRING (T.HKPCH, 1, 4), '-', LPAD(SUBSTRING (T.HKPCH, 5, 2), 2, '0'), '-', LPAD(SUBSTRING (T.HKPCH, 7, 2), 2, '0')
            ) AS PZRQ, '财' AS KJTX, CASE
            WHEN RIGHT (T.HKPCH, 1) = '1' THEN CONCAT(
            '收', SUBSTRING (T.HKPCH, 1, 4), '年', CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) - 1, '月', '属地工会经费'
            )
            WHEN RIGHT (T.HKPCH, 1) = '2' THEN CONCAT(
            '收', SUBSTRING (T.HKPCH, 1, 4), '年', CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) - 1, '月', '属地工会经费', '--', '（补结算）'
            )
            ELSE NULL
        END
        AS ZY,
            '10202->集中户' AS KJKMM,
            SUM(T.SDGHJE) AS JFJE,
            NULL AS DFJE,
            '4' AS FJZS,
            NULL AS YSDH,
            NULL AS ZT,
            '彭雪皎' AS ZDR,
            NULL AS SHR,
            NULL AS JZR,
            NULL AS ZFCBWZ,
            NULL AS ZBTX,
            NULL AS YSLY,
            NULL AS WLDW,
            NULL AS BM,
            NULL AS RY,
            NULL AS BMYSJJFL,
            NULL AS ZFGNFL,
            NULL AS ZCLX,
            NULL AS JFLY,
            '02->非专项资金' AS ZJXZ,
            NULL AS ZFYSJJFL,
            NULL AS MXKM,
            NULL AS ZFFS,
            NULL AS XM,
            NULL AS JSFS,
            '0000->甘肃省总工会' AS XJGH,
            NULL AS XMHD,
            NULL AS GGJCSS,
            NULL AS JFSL,
            NULL AS DFSL,
            NULL AS DJ
        FROM HYJFCX T
    </sql>

    <sql id="selectLegacySdjzDetailSql">
        SELECT '1'      AS  PZBH,
               ROW_NUMBER() OVER () + 1 AS FLBH, T.HKPCH AS HKPCH,
               T.SDGHZH AS  ZH,
               T.DWDM   AS  DEPT_ID, LEFT (T.HKPCH, 4) AS KJN, CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) AS KJQJ, 'JZ->记账' AS PZLX, CONCAT(
            SUBSTRING (T.HKPCH, 1, 4), '-', LPAD(SUBSTRING (T.HKPCH, 5, 2), 2, '0'), '-', LPAD(SUBSTRING (T.HKPCH, 7, 2), 2, '0')
            ) AS PZRQ, '财' AS KJTX, CASE
            WHEN RIGHT (T.HKPCH, 1) = '1' THEN CONCAT(
            '收', SUBSTRING (T.HKPCH, 1, 4), '年', CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) - 1, '月', '属地工会经费', '--', T.NSRMC
            )
            WHEN RIGHT (T.HKPCH, 1) = '2' THEN CONCAT(
            '收', SUBSTRING (T.HKPCH, 1, 4), '年', CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) - 1, '月', '属地工会经费', '--', T.NSRMC, '（补结算）'
            )
            ELSE NULL
        END
        AS ZY,
            '40202->税务代收工会经费' AS KJKMM,
            NULL AS JFJE,
            T.SDGHJE AS DFJE,
            '4' AS FJZS,
            NULL AS YSDH,
            NULL AS ZT,
            '彭雪皎' AS ZDR,
            NULL AS SHR,
            NULL AS JZR,
            NULL AS ZFCBWZ,
            NULL AS ZBTX,
            NULL AS YSLY,
            NULL AS WLDW,
            NULL AS BM,
            NULL AS RY,
            NULL AS BMYSJJFL,
            NULL AS ZFGNFL,
            NULL AS ZCLX,
            NULL AS JFLY,
            '02->非专项资金' AS ZJXZ,
            NULL AS ZFYSJJFL,
            NULL AS MXKM,
            NULL AS ZFFS,
            NULL AS XM,
            NULL AS JSFS,
            (
                SELECT A.DICT_LABEL
                FROM SYS_DICT_DATA A
                WHERE A.DICT_VALUE = T.DWDM
                  AND A.DICT_TYPE = 'sys_xjgh'
            ) AS XJGH,
            NULL AS XMHD,
            NULL AS GGJCSS,
            NULL AS JFSL,
            NULL AS DFSL,
            NULL AS DJ
        FROM HYJFCX T
    </sql>

    <sql id="selectLegacyHyjzSummarySql">
        SELECT '1'     AS PZBH,
               '1'     AS FLBH,
               T.HKPCH AS HKPCH,
               NULL    AS ZH,
               T.DWDM  AS DEPT_ID, LEFT (T.HKPCH, 4) AS KJN, CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) AS KJQJ, 'JZ->记账' AS PZLX, CONCAT(
            SUBSTRING (T.HKPCH, 1, 4), '-', LPAD(SUBSTRING (T.HKPCH, 5, 2), 2, '0'), '-', LPAD(SUBSTRING (T.HKPCH, 7, 2), 2, '0')
            ) AS PZRQ, '财' AS KJTX, CASE
            WHEN RIGHT (T.HKPCH, 1) = '1' THEN CONCAT(
            '收', SUBSTRING (T.HKPCH, 1, 4), '年', CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) - 1, '月', '工会经费行业分成'
            )
            WHEN RIGHT (T.HKPCH, 1) = '2' THEN CONCAT(
            '收', SUBSTRING (T.HKPCH, 1, 4), '年', CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) - 1, '月', '工会经费行业分成', '--', '（补结算）'
            )
            ELSE NULL
        END
        AS ZY,
            '10201->银行存款/交通银行兰州分行第一支行' AS KJKMM,
            SUM(T.HYGHJE) AS JFJE,
            NULL AS DFJE,
            '4' AS FJZS,
            NULL AS YSDH,
            NULL AS ZT,
            '彭雪皎' AS ZDR,
            NULL AS SHR,
            NULL AS JZR,
            NULL AS ZFCBWZ,
            NULL AS ZBTX,
            NULL AS YSLY,
            NULL AS WLDW,
            NULL AS BM,
            NULL AS RY,
            NULL AS BMYSJJFL,
            NULL AS ZFGNFL,
            NULL AS ZCLX,
            NULL AS JFLY,
            '02->非专项资金' AS ZJXZ,
            NULL AS ZFYSJJFL,
            NULL AS MXKM,
            NULL AS ZFFS,
            NULL AS XM,
            NULL AS JSFS,
            (
                SELECT A.DICT_LABEL
                FROM SYS_DICT_DATA A
                WHERE A.DICT_VALUE = T.DWDM
                  AND A.DICT_TYPE = 'sys_xjgh'
            ) AS XJGH,
            NULL AS XMHD,
            NULL AS GGJCSS,
            NULL AS JFSL,
            NULL AS DFSL,
            NULL AS DJ
        FROM HYJFCX T
    </sql>

    <sql id="selectLegacyHyjzDetailSql">
        SELECT '1'    AS    PZBH,
               ROW_NUMBER() OVER () + 1 AS FLBH, T.HKPCH AS HKPCH,
               NULL   AS    ZH,
               T.DWDM AS    DEPT_ID, LEFT (T.HKPCH, 4) AS KJN, CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) AS KJQJ, 'JZ->记账' AS PZLX, CONCAT(
            SUBSTRING (T.HKPCH, 1, 4), '-', LPAD(SUBSTRING (T.HKPCH, 5, 2), 2, '0'), '-', LPAD(SUBSTRING (T.HKPCH, 7, 2), 2, '0')
            ) AS PZRQ, '财' AS KJTX, CASE
            WHEN RIGHT (T.HKPCH, 1) = '1' THEN CONCAT(
            '收', SUBSTRING (T.HKPCH, 1, 4), '年', CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) - 1, '月', '工会经费行业分成', '--', T.NSRMC
            )
            WHEN RIGHT (T.HKPCH, 1) = '2' THEN CONCAT(
            '收', SUBSTRING (T.HKPCH, 1, 4), '年', CAST (SUBSTRING (T.HKPCH, 5, 2) AS UNSIGNED) - 1, '月', '工会经费行业分成', '--', T.NSRMC, '（补结算）'
            )
            ELSE NULL
        END
        AS ZY,
            '402->拨缴经费收入' AS KJKMM,
            NULL AS JFJE,
            T.HYGHJE AS DFJE,
            '4' AS FJZS,
            NULL AS YSDH,
            NULL AS ZT,
            '彭雪皎' AS ZDR,
            NULL AS SHR,
            NULL AS JZR,
            NULL AS ZFCBWZ,
            NULL AS ZBTX,
            NULL AS YSLY,
            NULL AS WLDW,
            NULL AS BM,
            NULL AS RY,
            NULL AS BMYSJJFL,
            NULL AS ZFGNFL,
            NULL AS ZCLX,
            NULL AS JFLY,
            '02->非专项资金' AS ZJXZ,
            NULL AS ZFYSJJFL,
            NULL AS MXKM,
            NULL AS ZFFS,
            NULL AS XM,
            NULL AS JSFS,
            (
                SELECT A.DICT_LABEL
                FROM SYS_DICT_DATA A
                WHERE A.DICT_VALUE = T.DJXH
                  AND A.DICT_TYPE = 'sys_xjgh'
            ) AS XJGH,
            NULL AS XMHD,
            NULL AS GGJCSS,
            NULL AS JFSL,
            NULL AS DFSL,
            NULL AS DJ
        FROM HYJFCX T
    </sql>

    <select id="selectLegacySdjzList" resultMap="SzqzjzdcLegacyResultMap">
        SELECT * FROM (
        <include refid="selectLegacySdjzSummarySql"/>
        <where>
            T.SDGHJE != '0' AND T.JSBJ IN ('Y', 'S', 'W')
            <if test="req.hkpch != null and req.hkpch != ''">
                AND T.HKPCH = #{req.hkpch}
            </if>
            <if test="req.deptId != null and req.deptId != ''">
                AND T.DWDM = #{req.deptId}
            </if>
            <if test="req.zh != null and req.zh != ''">
                AND T.SDGHZH = #{req.zh}
            </if>
        </where>
        GROUP BY T.HKPCH

        UNION ALL

        <include refid="selectLegacySdjzDetailSql"/>
        <where>
            T.SDGHJE != '0' AND T.JSBJ IN ('Y', 'S', 'W')
            <if test="req.hkpch != null and req.hkpch != ''">
                AND T.HKPCH = #{req.hkpch}
            </if>
            <if test="req.deptId != null and req.deptId != ''">
                AND T.DWDM = #{req.deptId}
            </if>
            <if test="req.zh != null and req.zh != ''">
                AND T.SDGHZH = #{req.zh}
            </if>
        </where>
        ) AS combined_result
    </select>

    <select id="selectLegacyHyjzList" resultMap="SzqzjzdcLegacyResultMap">
        SELECT * FROM (
        <include refid="selectLegacyHyjzSummarySql"/>
        <where>
            T.HYGHJE != '0' AND T.JSBJ IN ('Y', 'S', 'W')
            <if test="req.hkpch != null and req.hkpch != ''">
                AND T.HKPCH = #{req.hkpch}
            </if>
            <if test="req.deptId != null and req.deptId != ''">
                AND T.DWDM = #{req.deptId}
            </if>
        </where>
        GROUP BY T.HKPCH

        UNION ALL

        <include refid="selectLegacyHyjzDetailSql"/>
        <where>
            T.HYGHJE != '0' AND T.JSBJ IN ('Y', 'S', 'W')
            <if test="req.hkpch != null and req.hkpch != ''">
                AND T.HKPCH = #{req.hkpch}
            </if>
            <if test="req.deptId != null and req.deptId != ''">
                AND T.DWDM = #{req.deptId}
            </if>
        </where>
        ) AS combined_result
    </select>

</mapper>
