<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.lghjft.dal.mysql.nrgl.bbfb.BbfbMapper">

    <select id="selectPageWithRank" resultType="cn.iocoder.yudao.module.lghjft.dal.dataobject.nrgl.bbfb.BbfbDO">
        SELECT * FROM (
        SELECT
        t.*,
        RANK() OVER (ORDER BY t.read_count DESC, t.id DESC) as `rank`
        FROM gh_nrgl_bbfb t
        WHERE t.deleted = 0
        <if test="reqVO.title != null and reqVO.title != ''">
            AND t.title LIKE CONCAT('%', #{reqVO.title}, '%')
        </if>
        <if test="reqVO.version != null and reqVO.version != ''">
            AND t.version LIKE CONCAT('%', #{reqVO.version}, '%')
        </if>
        <if test="reqVO.status != null">
            AND t.status = #{reqVO.status}
        </if>
        ) temp_table
        ORDER BY create_time DESC
    </select>

</mapper>